

// Relative sizes

.sans {
	font-family: Sans-Serif;
	line-height: 1rem;
}

.9-font {
	font-size: .9rem;
}

.8-font {
	font-size: .8rem;
}

.75-font {
	font-size: .7rem;
}

.66-font {
	font-size: .66rem;
}

.5-font {
	font-size: .5rem;
}