

// Relative sizes

.threequarters-size {
	width: 75%;
	height: 75%;
	font-size: 75%;
}

.twothirds-size {
	width: 66%;
	height: 66%;
	font-size: 66%;
}

.half-size {
	width: 50%;
	height: 50%;
	font-size: 50%;
}