

// Relative sizes

.sans {
	font-family: Sans-Serif;
	line-height: 1rem;
}

.threequarters-font {
	font-size: 75%;
}

.twothirds-font {
	font-size: 66%;
}

.half-font {
	font-size: 50%;
}